USE [master]
GO
/****** Object:  Database [QuanLyKhoThuoc]    Script Date: 25/03/2022 11:50:38 AM ******/
CREATE DATABASE [QuanLyKhoThuoc]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QuanLyKhoThuoc', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\QuanLyKhoThuoc.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QuanLyKhoThuoc_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\QuanLyKhoThuoc_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QuanLyKhoThuoc].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QuanLyKhoThuoc]
GO
/****** Object:  Table [dbo].[KHO]    Script Date: 25/03/2022 11:50:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHO](
	[MaKho] [tinyint] NOT NULL,
	[TenKho] [nvarchar](30) NULL,
	[DiaChi] [nvarchar](50) NULL,
 CONSTRAINT [PK_KHO] PRIMARY KEY CLUSTERED 
(
	[MaKho] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOSX]    Script Date: 25/03/2022 11:50:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOSX](
	[MaLo] [tinyint] NOT NULL,
	[NgayHetHan] [date] NULL,
	[NgaySX] [date] NULL,
	[MaThuoc] [tinyint] NOT NULL,
 CONSTRAINT [PK_LOSX] PRIMARY KEY CLUSTERED 
(
	[MaLo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHACUNGCAP]    Script Date: 25/03/2022 11:50:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHACUNGCAP](
	[MaNCC] [nchar](10) NOT NULL,
	[TenNCC] [nvarchar](50) NULL,
	[DiaChi] [nvarchar](50) NULL,
 CONSTRAINT [PK_NHACUNGCAP] PRIMARY KEY CLUSTERED 
(
	[MaNCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHIEUNHAP]    Script Date: 25/03/2022 11:50:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUNHAP](
	[SoPhieuNhap] [int] NOT NULL,
	[NgayNhap] [date] NULL,
	[MaNCC] [nchar](10) NULL,
 CONSTRAINT [PK_PHIEUNHAP] PRIMARY KEY CLUSTERED 
(
	[SoPhieuNhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHIEUNHAPTHUOC]    Script Date: 25/03/2022 11:50:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUNHAPTHUOC](
	[SoPhieuNhap] [int] NOT NULL,
	[MaThuoc] [tinyint] NOT NULL,
	[SoLuong] [nchar](10) NULL,
	[DonGia] [nchar](10) NULL,
 CONSTRAINT [PK_PHIEUNHAPTHUOC] PRIMARY KEY CLUSTERED 
(
	[SoPhieuNhap] ASC,
	[MaThuoc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SDTNCC]    Script Date: 25/03/2022 11:50:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SDTNCC](
	[MaNCC] [nchar](10) NOT NULL,
	[SoDienThoai] [numeric](18, 0) NOT NULL,
 CONSTRAINT [PK_SDTNCC] PRIMARY KEY CLUSTERED 
(
	[MaNCC] ASC,
	[SoDienThoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[THUOC]    Script Date: 25/03/2022 11:50:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THUOC](
	[MaThuoc] [tinyint] NOT NULL,
	[TenThuoc] [nvarchar](10) NULL,
	[HangSX] [nvarchar](20) NULL,
	[HamLuong] [int] NULL,
	[CongDung] [nvarchar](50) NULL,
	[MaKho] [tinyint] NOT NULL,
 CONSTRAINT [PK_THUOC] PRIMARY KEY CLUSTERED 
(
	[MaThuoc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[LOSX]  WITH CHECK ADD  CONSTRAINT [FK_LOSX_THUOC] FOREIGN KEY([MaThuoc])
REFERENCES [dbo].[THUOC] ([MaThuoc])
GO
ALTER TABLE [dbo].[LOSX] CHECK CONSTRAINT [FK_LOSX_THUOC]
GO
ALTER TABLE [dbo].[PHIEUNHAP]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUNHAP_NHACUNGCAP] FOREIGN KEY([MaNCC])
REFERENCES [dbo].[NHACUNGCAP] ([MaNCC])
GO
ALTER TABLE [dbo].[PHIEUNHAP] CHECK CONSTRAINT [FK_PHIEUNHAP_NHACUNGCAP]
GO
ALTER TABLE [dbo].[PHIEUNHAPTHUOC]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUNHAPTHUOC_PHIEUNHAP] FOREIGN KEY([SoPhieuNhap])
REFERENCES [dbo].[PHIEUNHAP] ([SoPhieuNhap])
GO
ALTER TABLE [dbo].[PHIEUNHAPTHUOC] CHECK CONSTRAINT [FK_PHIEUNHAPTHUOC_PHIEUNHAP]
GO
ALTER TABLE [dbo].[PHIEUNHAPTHUOC]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUNHAPTHUOC_THUOC] FOREIGN KEY([MaThuoc])
REFERENCES [dbo].[THUOC] ([MaThuoc])
GO
ALTER TABLE [dbo].[PHIEUNHAPTHUOC] CHECK CONSTRAINT [FK_PHIEUNHAPTHUOC_THUOC]
GO
ALTER TABLE [dbo].[SDTNCC]  WITH CHECK ADD  CONSTRAINT [FK_SDTNCC_NHACUNGCAP] FOREIGN KEY([MaNCC])
REFERENCES [dbo].[NHACUNGCAP] ([MaNCC])
GO
ALTER TABLE [dbo].[SDTNCC] CHECK CONSTRAINT [FK_SDTNCC_NHACUNGCAP]
GO
ALTER TABLE [dbo].[THUOC]  WITH CHECK ADD  CONSTRAINT [FK_THUOC_KHO] FOREIGN KEY([MaKho])
REFERENCES [dbo].[KHO] ([MaKho])
GO
ALTER TABLE [dbo].[THUOC] CHECK CONSTRAINT [FK_THUOC_KHO]
GO
USE [master]
GO
